:root{
    --fg: #999999;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13.5px;
}
body {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
h1{
    font-size: x-large;
    font-weight: 600;
    text-align: center;
}
#clock{
    text-align: center;
    color: var(--fg);
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 20px;
}
#date{
    text-align: center;
    color: var(--fg);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}
#searchbox{
    text-align: center;
    margin-bottom: 50px;
}

.containers{
    display: grid;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    grid-template-columns: repeat(auto-fill, minmax(20em,1fr));

    grid-gap: 20px;
}
.work-container{
    background-color: #282828;
    color: #e8e8e8;
    opacity: 0.8;
    font-size: 20px;
    padding: 40px !important;
}
.work-container h1{
    background-color: aqua;
    padding: 5px;
    margin-bottom: 20px;
    color: black;
}
.work-container ul{
    list-style: none;
    text-align: center;
}
.work-container li{
    margin: 5px;
}
.work-container a{
    text-decoration: none;
    font-size: x-large;
    margin-bottom: 10px;
}

.sns-container{
    background-color: #282828;
    color: #e8e8e8;
    opacity: 0.8;
    font-size: 20px;
    padding: 40px !important;
}
.sns-container h1{
    background-color: limegreen;
    padding: 5px;
    margin-bottom: 20px;
    color: black;
}
.sns-container ul{
    list-style: none;
    text-align: center;
}
.sns-container li{
    margin: 5px;
}
.sns-container a{
    text-decoration: none;
    font-size: x-large;
    margin-bottom: 10px;
}


.other-container{
    background-color: #282828;
    color: #e8e8e8;
    opacity: 0.8;
    font-size: 20px;
    padding: 40px !important;
}
.other-container h1{
    background-color: brown;
    padding: 5px;
    margin-bottom: 20px;
    color: black;
}
.other-container ul{
    list-style: none;
    text-align: center;
}
.other-container li{
    margin: 5px;
}
.other-container a{
    text-decoration: none;
    font-size: x-large;
    margin-bottom: 10px;
}

