*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13.5px;
}
#clock{
    text-align: center;
    color: var(--fg);
    font-size: 56px;
    font-weight: bold;
}
#date{
    text-align: center;
    color: var(--fg);
    font-size: 30px;
    font-weight: bold;
}
#searchbox{
    text-align: center;
}
.containers{
    display: grid;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    grid-template-columns: repeat(auto-fill, minmax(20em,1fr));

    grid-gap: 20px;
}